/* ==========================================================================
Author's custom styles
========================================================================== */

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#wrapper nav.navbar {
  height: 50px;
  width: 100%;
}

#ui {
  position: absolute;
  top: 50px;
  max-width: 400px;
  z-index: 100;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
}

#map {
  height: 100%;
  width: 100%
}

#travelModeChoice button {
  outline: none;
}